**PRACTICE EXERCISES ON PYTHON BASICS -2 **

Submitted by: JIJAL R S

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [1]:
word=input("ENTER A WORD in small letter ")
x=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
for i in range(0,26):  #ivide x intey index 0 to 25 aanu but number of elements 26 aanu
  if x[i] in word:
    print(x[i], word.count(x[i]))

ENTER A WORD in small letter assembly
a 1
b 1
e 1
l 1
m 1
s 2
y 1

2.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [2]:
x=[34,12,7]
if x[0]>x[1] and x[0]>x[2]:
  print(x[0])
elif x[1]>x[0] and x[1]>x[2]:
  print(x[1])
else:
  print(x[2])

34

3.Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [3]:
def exponent(base,exp):
  print(int(base**exp))

In [4]:
exponent(2,3)

8

4.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [5]:
x=int(input("Enter an integer "))
y=[]
for i in range(0,x):
  y.append(i**3)
print(sum(y))

Enter an integer 4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print(i,"FizzBuzz")
  elif i%5==0:
    print(i,"Buzz")
  elif i%2==0:
    print(i,"Fizz")

2 Fizz
4 Fizz
5 Buzz
6 Fizz
8 Fizz
10 FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [6]:
x=[2,3,4,2,5,2]
y=[]
for i in range(0,len(x)):
  y.append(x.count(x[i]))
if y[i]==max(y):
  print(x[i])

2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [7]:
x=[2,1,3,1]
y=[]
for i in range(0,len(x)):
  y.append(x[i]**2)
print(sum(y))

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1,16):
  if i%2==0:
    print(i," even")
  else:
      print(i," odd")

1  odd
2  even
3  odd
4  even
5  odd
6  even
7  odd
8  even
9  odd
10  even
11  odd
12  even
13  odd
14  even
15  odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
def faren_to_cel(x):
  print(((x-32)/9)*5)

In [ ]:
def cel_to_faren(x):
  print((x/5)+(32/9))

In [ ]:
faren_to_temp(41)

5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(x):
  y=[]
  for i in range(1,x+1):
    if i==1:
      y.append(i)
    else:
        y.append(i*y[i-2])
  print(max(y))

In [ ]:
factorial(3)

6